<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h1 class="page-header">
      CREATE PROFILE
    </h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/errors', errored_on: resource %>
      <%= render 'profiles/form_fields', f: f, user: resource %>
    <% end %>
  </div>
</div>
