HOST: localhost
WEB_PORT: '3000'
CDN_URL: https://houztrendz-development.s3.amazonaws.com
AWS_ACCESS_KEY_ID: ACCESS_KEY
AWS_SECRET_ACCESS_KEY: SECRET_KEY
FOG_DIRECTORY: hal-development
FOG_PROVIDER: AWS
ASSET_SYNC_GZIP_COMPRESSION: 'true'
HONEYBADGER_ENV: development
ONVEDEO_APP_ID: app_id
ONVEDEO_APP_SECRET: app_secret
HAL_URL: http://hal.onvedeo.com
