<h1> List of Email Activities </h1>

<div>
  <div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Email</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.try(:event) %></td>
        <td><%= activity.try(:email) %></td>
        <td><%= Time.at(activity.timestamp).strftime("%B %e, %Y %I:%M %p")%></td>
      </tr>
    <% end %>
  </tbody>
</table>